/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




*{
box-sizing:border-box;
}

body{
font-family: 'Noto Sans TC', sans-serif;
}

h2{
font-weight: 700;
font-size: 24px;
color:#00807E;
}

.addTicket{
max-width:920px;
box-shadow:#00000029 0px 3px 6px;
border-radius:12px;
padding: 60px 0px;
margin:120px auto 100px;
display:flex;
justify-content:center;
}

@media(max-width:768px){
 .addTicket{
     max-width:100%;
     flex-direction:column;
     box-shadow:none;
     margin-top: 0px;
     padding-top: 0;
     margin-bottom: 10px;
 }
}

.addTicket-img{
display:flex;
flex-direction:column;
width:38%;
}

@media(max-width:768px){
    .addTicket-img{
        width: 100%;
        align-items:center;
    }
}

.addTicket-img img{
max-width:350px;
}

@media(max-width:768px){
    .addTicket-img img:nth-child(1){
        max-width:70%;
    }

    .addTicket-img img:nth-child(2){
        display:none;
    }
}

.addTicket-form{
width:38%;
}

@media(max-width:768px){
    .addTicket-form{
        width: 90%;
        margin:0 auto;
    }
}

.formTitle{
border-bottom:3px solid #00807E;
display:flex;
align-items:center;
line-height: 1px;
margin-bottom: 32px;
padding-bottom: 8px;
font-weight: 700;
}

.formTitle span{
color:#00807E;
padding-top: 2px;
}


.formTitle h2{
padding-left: 6px;
}

.addTicket label{
color:#00807E;
font-size: 16px;
font-weight: 500;
margin-right: 31px;
width: 30%;
}

@media(max-width:768px){
    .addTicket label{
        margin-bottom: 5px;
    }
}

.ticketName input, .imgUrl input, .ticketPrice input, .ticketCount input, .ticketRate input, .ticketArea select, .ticketState textarea{
width: 70%;
border:none;
border-bottom:1px solid #00807E;
background-color: #FAFAFA;
padding: 8px 8px 8px 12px;
font-size: 16px;
color:#818A91;
}

@media(max-width:768px){
    .ticketName input, .imgUrl input, .ticketPrice input, .ticketCount input, .ticketRate input, .ticketArea select, .ticketState textarea{
        width: 100%;
    }
}

.ticketName, .imgUrl, .ticketArea, .ticketPrice, .ticketCount, .ticketRate, .ticketState{
display:flex;
align-items:center;
margin-bottom: 16px;
}

@media(max-width:768px){
    .ticketName, .imgUrl, .ticketArea, .ticketPrice, .ticketCount, .ticketRate, .ticketState{
        align-items:flex-start;
        flex-direction:column;
        margin-bottom: 24px;
    }
}

.ticketArea select{
padding-left: 8px;
}

.ticketState{
align-items:flex-start;
margin-bottom: 24px;
}

.ticketState textarea{
height: 111px;
}

.formBtn{
padding: 10px 40px;
font-size: 20px;
background-color: #00807E;
border-radius:4.8px;
color:#ffffff;
border:none;
float:right;
cursor:pointer;
}

@media(max-width:768px){
    .formBtn{
        display:block;
        margin:0 auto;
        float:none;
    }
}

.showTicket{
background-color: #F7F7F7;
padding-top: 56px;
padding-bottom: 119px;
}

.regionSelect{
max-width:920px;
display:flex;
align-items:center;
margin:0 auto;
margin-bottom: 48px;
}

@media(max-width:768px){
    .regionSelect{
        flex-direction:column;
    }
}

.regionSelect select{
width:255px;
height: 38px;
margin-right: 30px;
font-size: 16px;
padding-left: 12px;
color:#818A91;
border:2px solid #CED4DA;
border-radius:4px;
}

@media(max-width:768px){
    .regionSelect select{
        width: 80%;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.regionSelect p{
font-size: 16px;
color:#818A91;
}

.showArea{
max-width:1100px;
margin:0 auto;
display:flex;
flex-wrap:wrap;
}

.ticketCard{
width: 29%;
box-shadow:0px 3px 6px #DEE2E6;
border-radius:4px;
margin-right: 30px;
margin-bottom: 46px;
}

@media(max-width:768px){
    .ticketCard{
        width: 90%;
        margin:0 auto;
        margin-bottom: 40px;
    }
}

.ticketCard a{
    cursor:default;
    display:block;
    overflow:hidden;
}

.ticketCard img{
width: 100%;
height: 180px;
object-fit:cover;
}

.ticketCard img:hover{
    transition:all 1.5s ease-in-out;
    transform:scale(1.5);
}

.ticketCard-tag{
    position:relative;
    margin-bottom: 28px;
}

.ticketCard-area{
    padding:8px 20px;
    background-color: #64C3BF;
    display:inline;
    font-size: 20px;
    color:#ffffff;
    border-radius:0px 4px 4px 0px;
    position:absolute;
    top:-198px;
}

.ticketCard-rate{
    padding:5px 8px 10px;
    background-color: #00807E;
    color:#ffffff;
    font-size: 16px;
    display:inline;
    border-radius:0px 4px 4px 0px;
    position:absolute;
    top:-18px;
}

.showArea h2{
    margin:0px 20px;
    margin-bottom: 16px;
    border-bottom:2.5px solid #007572;
    padding-bottom: 6px;
}

.ticketCard-content{
    margin:0px 20px;
}

.ticketCard-content p{
    color:#818A91;
    line-height:24px;
    margin-bottom: 22px;
    text-align: justify;
    text-justify:inter-ideograph;
}

.ticketCard-state{
    min-height:168px;
}

.cardValue{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#00807E;
    padding-bottom: 24px;
}

.cardValue p{
    color:#00807E;
}

.valueCount{
    display:flex;
    align-items:center;
}

.valueCount p{
    font-weight: 500;
    padding-left: 4px;
    margin-bottom: 0;
    font-size:16px;
    letter-spacing:1px;
}

.valuePrice{
    display:flex;
    align-items:center;
    line-height: 1px;
}

.valuePrice p:nth-child(1){
    font-weight: 500;
    margin-right: 4px;
    margin-bottom: 0;
}

.valuePrice p:nth-child(2){
    font-size: 32px;
    font-weight: 500;
    display:inline;
    margin-bottom: 0;
    padding-bottom: 2px;
}








